[Unit]
Description=Redmibook 15 2022 Fingerprint Driver

[Service]
ExecStart=/usr/bin/podman run -v /var/run/dbus:/var/run/dbus -v /var/lib/fprint:/var/lib/fprint --device <device path> localhost/fingerprint
ExecStop=/bin/sh /opt/fingerprint-ocv/stop_fprint.sh

[Install]
WantedBy=multi-user.target
